{{ partial "header.html" . }}
<main>
<article class="article-meta">
<header>
	{{ with .Params.hide_title }}{{ else }}<h1>{{ .Title | markdownify }}</h1>{{ end }}
	{{ with .Description }} <h2>{{ . | markdownify }}</h2>{{ end }}
	<div class="info">
		{{ with .Params.series }}<p><span class="series">Series:</span>
			{{ range . }}<a href="{{ "series/" | absURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
		</p>{{ end }}
		<p>
		{{ if (gt .Params.date 0) }}<span class="date">{{ .Date.Format "2006-01-02" }}</span>{{ end }}
		</p>
	</div>
</header>
{{ .Content }}
</article>
</main>
{{ partial "footer.html" . }}
