{{ partial "header.html" . }}
<link rel="alternate" type="application/rss+xml" href="https://gingerbillshow.com/index.xml" title="Ginger Bill Show">
{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}
<p><a href="index.xml"><img src="/show/feed-icon.svg" style="width: 1em; height: 1em; position: relative; top: 0.15em;">&nbsp;RSS Feed</a></p>
<br>

{{ .Content }}
<ul class="articles">
  {{ range (where .Data.Pages "Section" "!=" "") }}
  <li>
    <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
    <p>Episode {{.Slug}}</p>
    <p class="date">{{ .Date.Format "2006-01-02" }}</p>
  </li>{{ end }}
</ul>
{{ partial "footer.html" . }}
